flask
Flask-Migrate
Flask-MySQL
Flask-SQLAlchemy
Flask-Script
PyMySQL
SQLAlchemy
mysql-client
mysql-connector
Flask-MySQLdb
passlib[bcrypt]
flask-admin
flask-bootstrap
pyjwt
flask_login
sendgrid==6.0.5
autopep8
